S3method(print,ddi)
export(attachFileDscr)
export(ddi2json)
export(ddi2xml)
export(ddi_code_book)
export(ddi_file_dscr)
export(ddi_var)
export(dir2ddi)
export(print.ddi)
export(stata2ddi)
export(stata_import)
